__registry = http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm/
strict-ssl = false
msvs_version = 2015
proxy = null
https-proxy = null
__phantomjs_cdnurl = https://nexus.wdf.sap.corp:8443/nexus/service/local/repositories/3rd-party.releases.manual-uploads.hosted/content/org/phantomjs/download/phantomjs/2.1.1