.calc-container {
    position: fixed;
    height: 100%;
    width: 100%;
}

.calc-results {
    overflow: auto;
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}

.calc-results .calc-pokemon-container:nth-child(even) {
    background-color: #f0f8fd;
    border-radius: 0 0 10px 0;
}

.calc-pokemon-container {
    display: flex;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 5px;
}

.calc-pokemon-rank {
    font-size: 10pt;
}

.calc-pokemon-types {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.calc-pokemon-attacks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calc-pokemon-attack {
    display: flex;
    align-items: center;
}

.calc-fast-attack {
    border-bottom: 1px dotted darkgray;
}
.calc-pokemon-attack-type-icon {
    transform: scale(0.7);
}

.calc-pokemon-attack span {
    font-size: 8pt;
}

.calc-rating {
    opacity: 0.7;
    height: 10px;
    background-size: 40px;
}

.calc-options-container {
    display: flex;
    justify-content: center;
}

.calc-meteo-button {

}