
.resist-container {
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .resist-container {
        width: 100%;
        margin: 0;
    }
}

.resist-tables-container {
    background-color: white;
    padding: 0.5em 0em 0 0.5em;
    user-select: none;
}

.resist-tables {
    display: flex;
    flex-direction: row;
}

.resist-table {
    display: flex;
    flex-direction: column;
    margin-right: 0.5em;
    padding: 5px;
    width: 50%;
}

.resist-table div {
    margin-bottom: 0.5em;

}

.resist-nobonus-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
}

.resist-nobonus-table div {
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    width: 25%;
    text-align: center;
}

.resist-table-section {
    font-weight: bold;
    font-size: 10pt;
    margin-bottom: 0.5em;
}

.resist-table-section:not(:first-child) {
    margin-top: 0.75em;
}
    
.resist-tab {
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex;
    align-items: stretch;
}

/* Style the buttons inside the tab */
.resist-tab div {
    float: left;
    flex-grow: 1;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 3px solid transparent;
    font-size: 10pt;
    text-align: center;
    cursor: pointer;
}

/* Change background color of buttons on hover */
.resist-tab div:hover {
    background-color: #ddd;
}

.resist-tab div.active {
    background-color: #ccc;
    border-bottom: 3px solid orange;
}

/* Style the tab content */
.resist-tab-content {
    display: none;
    padding: 6px 12px;
}

.resist-info-icon {
    font-size: 1em !important;
    color: dodgerblue;
    margin-top: 1em;
}


.tooltip-table td {
    padding-left: 1em;
    padding-right: 1em;
}

.tooltip-table thead tr th {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.25em;
    font-weight: 700;
    font-size: 14px;
}
