/*---------------------------------------------------------------------*/
/*  GENERAL
/*---------------------------------------------------------------------*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, img, b, u, i, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, embed {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
html {
    background-color: white;
}

article, aside, footer, header, main, nav, section {
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #303030;
    background-color: white;
    -webkit-tap-highlight-color: transparent;
}

.fa-pokeman-normal, .fa-pokeman-2x {
    padding: 0 0.25em 0 0.25em;
    font-size: 1.5em;
    opacity: 0.8;
}

.fa-pokeman-2x {
    font-size: 2em;
}

.hidden {
    opacity: 0 !important;
    display: none !important;
    pointer-events: none;
}

.lazimage {
    user-select: none;
}

.ui-borders, .ui-styles, .popover {
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.default-cursor {
    cursor: default !important;
}
input {
    padding: .5rem .75rem;
}

.just-to-be-exported-in-assets-images-folder {
    background-image: url(../images/wait.gif);
    background-image: url(../images/favicon.png);
}

/*---------------------------------------------------------------------*/
/*  ATTACK PANEL
/*---------------------------------------------------------------------*/

.attack-table {
    width: 100%;
    border: none;
    background-color: white;
    /*padding-bottom: 0.5em;*/
}

.attack-table th {
    border-bottom: 1px solid lightgray;
    font-size: 12pt;
    text-align: left;
    color: inherit;
    padding-top: 0.75em;
    padding-left: 0.5em;
    padding-bottom: 0.25em;
    font-weight: bold;
}

.attack-table .section {
    font-weight: 700;
    padding-top: 1.25em;
    padding-left: 0.5em;
    padding-bottom: 5px;
    font-size: 9pt;
}

.section-td {
    font-variant-caps: all-small-caps;
}

.attack-table td {
    font-size: 15px;
    padding-top: 0.3em;
}

.attack-table tbody td:first-child {
    padding-left: 0.75em;
    padding-right: 1em;
    width: 2em;
}

.attack-table td:last-of-type { 
    padding-right: 0.5em;
}

.locale-select {
    background-position: left center;
    background-position-x: 5px;
    text-indent: 10px;
    width: 120px;
}

.search-input {
    width: 100%;
    background-size: 14px;
    margin-right: 1em;
    padding: 0.4rem 0px 0.25em 0.5em !important;
    font-size: 1em !important;
}

.page {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e5e5e5;
}

.right-panel, .left-panel {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
}

.left-panel {
    white-space: nowrap;
    overflow: hidden;
}

.right-panel {
    float: right;
    right: 0;
}

.navbar {
    position: relative;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-radius: 4px;
    max-height: 50px;
    min-height: 50px;
}

@media all and (max-width: 1024px) {
    .navbar {
        border-radius: 0;
    }
}

/*---------------------------------------------------------------------*/
/*  EGG PANEL
/*---------------------------------------------------------------------*/

.compare-button, .filter-toggle, .filter-toggle-off, .back-button {
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
}


.back-button {
    margin-left: 0.5em;
}


.back-button-2 {
}

.compare-button {
    background-image: url('../images/compare.png');
    width: 24px;
    height: 24px;
}

.search-icon {
    position: absolute;
    right: 1em;
}


.pokeman-title {
    font-size: 15pt;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    pointer-events: none;
}


.eggs-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: white;
    height: 100%;
}

.egg-group-text {
    left: 0;
    right: 0;
    width: 50%;
    margin: 25px auto;
    padding: 5px;
    background-color: blanchedalmond;
    border-radius: 20px;
    font-size: 14pt;
    text-align: center;
}

.centered-text, .title-text {
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.title-text {
    position: absolute;
    font-size: 15pt;
}

.egg-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.egg-pokemon {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0.25em;
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.egg-pokemon-selected {
    border: 2px solid lightsalmon;
}

.egg-pokemon-img {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.egg-pokemon-img-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 8pt;
}

.egg-pokemon-gen {
    position: absolute;
    right: 0;
    font-size: 8pt;
    color: white;
    text-align: center;
    padding: 1px;
    background-color: sandybrown;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.filters-container {
    position: relative;
    width: 100%;
    user-select: none;
    background-color: white;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    transition: max-height 1.5s ease;
}

.filters-container-open {
    max-height: 100%;
    overflow-y: unset;
}

.filters-container-closed {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height -1s ease;
}

.type-table-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0.5em 0.5em 0 0.5em;;
    padding-bottom: 5px;
    background-color: white;
}

.filter-type-toggle {
    font-size: 12px;
    border: 2px solid transparent;
    margin-bottom: 4px;
    margin-right: 3px;
    padding: 4px 9px;
    line-height: 1.3;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    font-weight: bold;
    opacity: 0.5;
}

.filter-type-toggle:not(.filter-type-active):hover  {
    border: 2px solid #000;
}

.gen-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    background-color: white;
}

.gen-button {
    font-size: 17px;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border: 2px solid transparent;
    margin-right: 3px;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    font-weight: bold;
}

.gen-button.selected {
    border: 2px solid #000;
}

.filter-type-inactive {
    opacity: 1;
}
.filter-type-active {
    border: 2px solid #000;
    opacity: 1;
}

.selected {
    background-color: #A5DC86;
}

.text-selected {
    color: mediumseagreen;
}

.gen-button-left {
    /*border-radius: 10px 0 0 10px;
    border-left-width: 1px;*/
    margin-left: 5px;
}

.gen-button-right {
    /*border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;*/
    margin-right: 5px;
}


.strong-text {
    color: green;
}

.weak-text {
    color: red;
}

.leg-button {
    /* background-image: url(../images/leg.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    background-position: center;
    border-radius: 50%;
    border: 1px solid darkgrey; */
}

/*---------------------------------------------------------------------*/
/*  POPUP MENU LOCALE
/*---------------------------------------------------------------------*/

.popover {
    position: fixed;
    top: 40px;
    right: 5px;
    min-width: 10rem;

    padding: .25rem 0;
    margin: .125rem 0 0;

    opacity: 1;
    transition: opacity 0.5s;

    z-index: 55;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.popover ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.popover ul li {
    padding: 3px 1.5rem;
}
.popover ul li:hover {
    color: #1d1e1f;
    background-color: #f7f7f9;
    cursor: pointer;
}

/*---------------------------------------------------------------------*/
/*  POKEMON TILES
/*---------------------------------------------------------------------*/

.type {
    padding: 4px 9px;
    line-height: 1.3;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    font-size: 12px;
    opacity: 0.8;
    font-weight: bold;
}

.pokemon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 5px 5px 5px;
    overflow-y: auto;
    /* height: 100%; */
}

.pokemon-zoom {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
    background-color: white;
}

.zoom-container {
}

/* Tiles */
.gen {
    display: flex;
    position: relative;
    margin-right: 5px;
    margin-bottom: 10px;
}

.gen .pokemon {
    position: relative;
    width: 230px;
    height: 95px;
    background: #FFF;
    margin-bottom: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.toolbar-button-text-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.25em 0 0.25em;
}

.toolbar-button-text {
    font-size: 8pt;
}

.gen .pokemon .types {
    margin: 30px 10px 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

@media all and (max-width: 1024px)
{
    .gen .pokemon
    {
        width: 165px;
    }

    .gen .pokemon .types {
        margin: 10px 10px 0;
        display: flex;
        flex-direction: column;
    }
        
}

.gen .pokemon:hover {
    background: #e8f5e9;
}

.gen .pokemon::after {
    position: absolute;
    right: 3px;
    bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.9;
    content: attr(data-gen);
}

h2, .inactive-h2 {
    font-size: 18px;
    margin: 7px 10px 0;
    color: #4078c0;
}

.inactive-h2 {
    color: lightslategray;
}

.gen .pokemon .types .type {
    margin-right: 3px;
    margin-bottom: 2px;
}

.gen .pokemon img {
    position: absolute;
    /*max-width: 70px;*/
    max-height: 70px;
    top: 15px;
    right: 10px;
}

.gen .pokemon .bar {
    width: 100%;
    height: 4px;
    position: absolute;
    background: rgba(0,0,0,0.05);
    bottom: 0;
    left: 0;
}

.gen .pokemon .bar .value, .inactive-value {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #42a5f5;
    opacity: 0.8;
}

.inactive-value {
    background: white;
}

.pokemon-checked {
    position: absolute;
    top: 0;
    right: -5px;
    z-index: 1;
}

.pokemon-id {
    position: absolute;
    top: 1px;
    right: 4px;
    font-size: 11px;
    color: #bbb;
    z-index: 1;
}

.pokemon-id::before {
    content: "#";
    color: #ddd;
}
.gen .pokemon.g1::after {
    color: #42a5f5;
}


.ui-styles {
    margin-left: 5px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    padding: .5rem .75rem;
}

/*---------------------------------------------------------------------*/
/*  COMPARE PAGE
/*---------------------------------------------------------------------*/

.compare-container {
    background-color: white;
    height: 100%;
    overflow: auto;
    user-select: none;
}

.icon-type-small {
    zoom: 0.6;
}

.compare-col-0 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*---------------------------------------------------------------------*/
/*  ATTACK TYPES
/*---------------------------------------------------------------------*/

.icon-type {
    margin-right: 3px;
}

.icon-type-BUG, .icon-type-DARK, .icon-type-DRAGON, .icon-type-ELECTRIC, .icon-type-FAIRY, 
.icon-type-FIGHTING, .icon-type-FIRE, .icon-type-FLYING, .icon-type-GHOST, .icon-type-GRASS, 
.icon-type-GROUND, .icon-type-ICE, .icon-type-NORMAL, .icon-type-POISON, .icon-type-PSYCHIC, 
.icon-type-ROCK, .icon-type-STEEL, .icon-type-WATER {
    background: url(../images/types.png);
    width: 24px;
    height: 24px;
    line-height: 24px;
    color: transparent;
}

.icon-type-BUG {
    background-position: -24px 0;
}
.icon-type-DARK {
    background-position: -48px 0;
}
.icon-type-DRAGON {
    background-position: 0 -24px;
}
.icon-type-ELECTRIC {
    background-position: -24px -24px;
}
.icon-type-FAIRY {
    background-position: -48px -24px;
}
.icon-type-FIGHTING {
    background-position: -72px -24px;
}
.icon-type-FIRE {
    background-position: 0 -48px;
}
.icon-type-FLYING {
    background-position: -24px -48px;
}
.icon-type-GHOST {
    background-position: -48px -48px;
}
.icon-type-GRASS {
    background-position: -72px -48px;
}
.icon-type-GROUND {
    background-position: 0 -72px;
}
.icon-type-ICE {
    background-position: -24px -72px;
}
.icon-type-NORMAL {
    background-position: -48px -72px;
}
.icon-type-POISON {
    background-position: -72px -72px;
}
.icon-type-PSYCHIC {
    background-position: 0 -96px;
}
.icon-type-ROCK {
    background-position: -24px -96px;
}
.icon-type-STEEL {
    background-position: -48px -96px;
}
.icon-type-WATER {
    background-position: -72px -96px;
}


.info-container {
    background-repeat: no-repeat;
    background-size: 480px;
    width: 480px;
    text-align: center;
    padding-bottom: 10px;
    color: #44696C;
    box-shadow: 2px 2px 5px 0px #cfcfcf;
    border-radius: 3px;
    position: relative;
}

@media all and (max-width: 550px) {
    .info-container {
        width: 100%;
        background-size: 100%;
    }
    }

.info-back {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}

.info-pokemon-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 256px!important;
    height: 256px!important;
    max-width: inherit!important;
    max-height: inherit!important;
    margin-left: -128px;
    z-index: 3;
}

.info-cp-circle {
    position: relative;
    top: 20px;
    height: 205px;
    z-index: 3;
}

.info-cp-button-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 3;
}

.info-cp-button {
    width: 36px;
    height: 36px;
    vertical-align: middle;
    line-height: 36px;
    border-radius: 50%;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    margin-bottom: 0.25em;
    cursor: pointer;
}

.info-cp-button-calc {
    background-image: url(../images/combat.png);
    background-position: 4px 5px;
}

.info-cp-button-shield {
    background-image: url(../images/shield.png);
}

.info-cp-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 28px;
    color: rgba(255,255,255,1);
    z-index: 4;
}p 

.info-cp {
    font-size: .6em;
}

.cp {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 260px;
    height: 130px;
    margin-left: -130px;
    overflow: hidden;
    z-index: 1;
}

.cp img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-width: inherit!important;
    max-height: inherit!important;
}

.cp-circle-value {
    transform: rotate(0deg);
}

.cp-40 {
    position: absolute;
    left: 50%;
    top: 161px;
    margin-left: 138px;
    font-size: 8px;
    color: rgba(255,255,255,.84);
    z-index: 3;
}

.shiny-button, .shiny-button-pressed {
    position: absolute;
    top: 215px;
    height: 18px;
    width: 18px;
    pointer-events: inherit;
    padding: 8px;
    left: 27px;
    z-index: 11;
    cursor: pointer;
}

.info-types-table {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.info-types-table div {
    margin-right: 3px;
}

.info-pokemon-details {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 65px;
    padding-bottom: 5px;
    z-index: 2;
}

.info-pokemon-details table:last-of-type {
    border: none;
}

.info-pokemon-name-container {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #6DEDB7;
    width: auto;
    margin: 0 auto;
    padding-bottom: 0.25rem;
}
.info-pokemon-name {
    width: 100%;
    margin: 0!important;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #456c6e;
}

.info-pokemon-form-name {
    font-size: x-small;
    padding-top: 0.10rem;
}

.close-button {
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;

    position: relative;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #b6f6e4;
    background-color: #1b8796;
    margin: 0;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 0;
    padding: 6px;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.24),0 4px 5px rgba(0,0,0,.2)!important;
    outline: none;
}

.button-inner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-flow: row nowrap;
}

.cercle {
    position: absolute;
    border-radius: 50%;
    border: 1px solid;
    top: 3px;
    left: 3px;
    width: 32px;
    height: 32px;
}

.info-back-BUG { background-color: #bcab11; }
.info-back-DARK { background-color: #0B1334; }
.info-back-DRAGON { background-color: #3e683e; }
.info-back-ELECTRIC { background-color: #0e3761; }
.info-back-FAIRY { background-color: #8e70e3; }
.info-back-FIGHTING { background-color: #827150; }
.info-back-FIRE { background-color: #5d2a3c; }
.info-back-FLYING { background-color: #6d9feb; }
.info-back-GHOST { background-color: #123b65; }
.info-back-GRASS { background-color: #aed05a; }
.info-back-GROUND { background-color: #bb9a71; }
.info-back-ICE { background-color: #416886; }
.info-back-NORMAL { background-color: #d4c49a; }
.info-back-POISON { background-color: #181255; }
.info-back-PSYCHIC { background-color: #2029b5; }
.info-back-ROCK { background-color: #767f8f; }
.info-back-STEEL { background-color: #1A2B33; }
.info-back-WATER { background-color: #0485a2; }

/*---------------------------------------------------------------------*/
/*  RATING STARS
/*---------------------------------------------------------------------*/

.rating {
    height: 12px;
    width: 50px;
    background-size: 50px;
    background-repeat: no-repeat;
}

.rating-1 { background-image: url(../images/rating1.png); }
.rating-2 { background-image: url(../images/rating2.png); }
.rating-3 { background-image: url(../images/rating3.png); }
.rating-4 { background-image: url(../images/rating4.png); }
.rating-5 { background-image: url(../images/rating5.png); }

/*---------------------------------------------------------------------*/
/*  METEO ICONS
/*---------------------------------------------------------------------*/

.meteo-button-SUNNY, .meteo-button-PARTLY_CLOUDY, .meteo-button-CLOUDY, .meteo-button-RAIN, .meteo-button-SNOW, .meteo-button-FOG, .meteo-button-WINDY {
    background-image: url(../images/meteo.png); 
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.meteo-button-SUNNY { background-position: 0px 0px; }
.meteo-button-PARTLY_CLOUDY { background-position: -32px 0px; }
.meteo-button-CLOUDY { background-position: -64px 0px; }
.meteo-button-RAIN { background-position: -96px 0px; }
.meteo-button-SNOW { background-position: -128px 0px; }
.meteo-button-FOG { background-position: -160px 0px; }
.meteo-button-WINDY { background-position: -196px 0px; }

/*---------------------------------------------------------------------*/
/*  CONST
/*---------------------------------------------------------------------*/

.POKEMON_TYPE_NORMAL {background-color: #A8A878;}
.POKEMON_TYPE_FIRE {background-color: #F08030;}
.POKEMON_TYPE_WATER {background-color: #6890F0;}
.POKEMON_TYPE_GRASS {background-color: #78C850;}
.POKEMON_TYPE_POISON {background-color: #A040A0;}
.POKEMON_TYPE_ELECTRIC {background-color: #F8D030;}
.POKEMON_TYPE_GROUND {background-color: #E0C068;}
.POKEMON_TYPE_PSYCHIC {background-color: #F85888;}
.POKEMON_TYPE_ROCK {background-color: #B8A038;}
.POKEMON_TYPE_ICE {background-color: #98D8D8;}
.POKEMON_TYPE_BUG {background-color: #A8B820;}
.POKEMON_TYPE_DRAGON {background-color: #7038F8;}
.POKEMON_TYPE_GHOST {background-color: #705898;}
.POKEMON_TYPE_STEEL {background-color: #B8B8D0;}
.POKEMON_TYPE_FAIRY {background-color: #EE99AC;}
.POKEMON_TYPE_DARK {background-color: #705848;}
.POKEMON_TYPE_FLYING {background-color: #A890F0;}
.POKEMON_TYPE_FIGHTING {background-color: #C02038;}

.gen-button1 {background-color: #42a5f5;}
.gen-button2 {background-color: #ef5350;}
.gen-button3 {background-color: #66bb6a;}
.gen-button4 {background-color: #705848;}
.gen-button5 {background-color: #F85888;}
.gen-button6 {background-color: #F8D030;}
.gen-button7 {background-color: #B8A038;}

.leg {
    background-image: url(../../assets/images/legendary-bronze.png);
    height: 33px;
    width: 33px;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;
    border-radius: 50%;
    border: 2px solid #655ad3;
}
.leg.selected {
    background-image: url(../../assets/images/legendary-gold.png);
    border: 2px solid #ffd755;
    background-color: transparent;
}
.leg:hover {
    border: 2px solid #ffd755;
}